{% load staticfiles %}
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url(https://github.com/elo80ka/django-dynamic-formset/blob/master/demo/static/images/add.png?raw=true) no-repeat left center;
    }
    .delete-row {
        /*float:right;*/
        display:inline-block;
        margin:5px 0 0 5px;
        text-indent:-6000px;
        background:url(https://github.com/elo80ka/django-dynamic-formset/blob/master/demo/static/images/delete.png?raw=true) no-repeat left center;
        width:16px;
        height:16px;
    }
    .question-formset {
        display:block
    }
</style>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}

    <label>First Name</label>
    {{ form.id }}
    {{ form.as_p}}
    {{ question.management_form }}
    {% for q in question %}
        <div class="question-formset" id="{{ q.prefix }}">
        Question :
        {{ q.id }}
        {{ q.question }}
        </div>
    {% endfor %}
    <input type="submit" value="Update Profile" class="button"/>
</form>

<!-- Include formset plugin - including jQuery dependency -->
<script src="{% static "jquery-3.1.0.min.js" %}"></script>
<script src="{% static "jquery.formset.js" %}"></script>
<script>
    $('.question-formset').formset({
        addText: 'add link',
        deleteText: 'remove',
        prefix : "{{ question.prefix }}"
    });
</script>